genus.log*
genus.cmd*
genus_out
fv

gscl45nm.*

cynapse_tb
cynapse_neuron_tb
baseline_neuron_tb
optimized_neuron_tb
a.out

binaries/
OneExampleTestDump*
ConductanceLIFNeuronUnit_tb_out.csv
test_data/*.csv

*~
